body {
    padding: 50px;
    background-color: rgb(229, 232, 235);
    font-family: sans-serif;
}
#container {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
}
.todoList button{
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: #0066FF;
    color: #FFF;
    border: 2px solid#0066FF;
}
.todoList input{
    padding: 10px;
    font-size: 16px;
    border: 2px solid#FFF;
    width: 165px;
}
button.taskRemove{
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: rgb(253, 42, 77);
    color: #FFF;
    border: 2px solid rgb(253, 42, 77);
}
.task span{
    padding: 10px;
    font-size: 16px;
    background-color: #FFF;
    border: 2px solid#FFF;
    width: 165px;
}
button.taskChange{
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: rgb(42, 253, 53);
    color: #FFF;
    border: 2px solid rgb(42, 253, 53);
}
