.infoP{
    font-size:1.4rem;
    padding: 5px 0;
}

.img_pr{
    width: 50px;
    height: auto;
}
.Polaris-ResourceList__HeaderTitleWrapper{
    font-size: 1.4rem;
}
li.Polaris-OptionList-Option{
    font-size: 1.2rem
}
.Polaris-DataTable__Table{
    font-size: 1.4rem;
}
.name_pr{
    color:#007ace;
}
.Polaris-DataTable__Cell--header {
    font-weight: 600;
}

.Polaris-DataTable__Heading:focus, .Polaris-DataTable__Heading:hover{
    color:  black;
    text-decoration: none;
}

button.Polaris-DataTable__Heading{
    font-weight: 600;
    color: black;
}
