.bgcRadioButton{
    height: 50px;
    background-color: rgb(238, 73, 31);
    font-size: 1.4rem;
    width: 200px;
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
  	font-size: 16px;
}

.bgcRadioButton span,
.RadioButton span
{
    padding: 0 5px;
}

.RadioButton{
    height: 50px;
    margin: -10px 10px;
    font-size:1.4rem;
    width: 200px;
    color: rgb(238, 73, 31);
    align-items: center;
    display: flex;
    justify-content: center;
}

a.wl_remove i.fa.fa-times {
    color: #f81400;
    font-size: 50px;
    padding: 0 50px;
}

.center {
  text-align: center;
}

.paginations {
  display: inline-block;
}

.paginations a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.paginations a.actives {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.paginations a:hover:not(.actives) {background-color: #ddd;}

.disableItem {
  pointer-events: none;
  cursor: default;
}
